# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# SQLite database (important - avoid pushing DB file)
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / build files
dist/
build/
*.egg-info/
